.App {
  text-align: center;
}

#header {
  display: grid;
  grid-template-rows: auto auto auto;
  border: 2px solid black;
  /* align-content: right;
  justify-content: right; */
}

#navbar {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

#footer {
  border: 2px solid black;
  background-color: gray;
}

.list_item {
  margin-bottom: 10px;
  border: 2px solid black;
}

.article_card {
  margin-bottom: 10px;
  border: 2px solid black;
  margin-left: 8%;
  margin-right: 8%;
}

.topic_card {
  margin-bottom: 10px;
  border: 2px solid black;
  margin-left: 8%;
  margin-right: 8%;
}

.user_item {
  background-color: lightcoral;
  border: 2px solid black;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-column-end: 3;
  grid-row-end: 1;
}

.user_avatar {
  width: 60%;
  justify-content: right;
}

#user_checker {
  width: 50px;
  justify-self: right;
}

.article_body {
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
}

.comment_input {
  width: 90%;
  margin-right: 5px;
  justify-self: right;
}
